{% extends 'base.html.twig' %}

{% block title %}Accueil - Serial Watchers
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row min-vh-100 align-items-center justify-content-center">
            <div class="col-12 col-md-4">
                <div class="card border-0 shadow p-4">
                    <div class="text-center">
                        <h1 class="h4 mb-4">Serial Watchers</h1>
                        <div class="d-grid gap-3">
                            <a class="btn btn-info shadow" href="{{ path('app_director') }}">Tous les réalisateurs</a>
                            <a class="btn btn-info shadow" href="{{ path('app_movie') }}">Tous les films</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
